//
// components-rtl.scss
//


// Inbox-widget

.widget-flat {
  i{
    right: 0;
    left: auto;
  }
}

.inbox-widget {
  .inbox-item {
    .inbox-item-img {
      float: right;
      margin-left: 15px;
      margin-right: 0;
    }

    .inbox-item-date {
      right: auto;
      left: 5px;
    }
  }
}



//    Widgets-2


.widget-box-two {
  text-align: left;
}


//    Widgets-3

.widget-box-four {
  .widget-box-four-chart {
    left: 20px;
    right: auto;
  }
}



/* Inbox-widget */

.inbox-widget {
  .inbox-item {
    .inbox-item-img {
      float: right;
      margin-left: 15px;
    }
    .inbox-item-author {
    .inbox-item-date {
      right: 7px;
    }
  }
}
}

.user-position {
  border-right: 1px solid $light;
  left: 0;
  right: auto;
}


// Extra-pages ribbons 

.ribbon-box {
  .ribbon{
    float: right;
    margin-right: -30px;
  }
}

// ribbon

.ribbon-box {
  .ribbon {
    &:before {
      right: 0;
      left: auto;
    }

    &.float-left {
      margin-right: -30px;
      margin-left: auto;
      border-radius: 3px 0 0 3px;
    }

    &.float-right {
      margin-left: -30px;
      margin-right: 0;
      border-radius: 0 3px 3px 0;

      &:before {
        left: 0;
        right: auto;
      }
    }
  }


  .ribbon-icon{
    left: 10px;
    right: auto;
  }

  /* Ribbon two */
  .ribbon-two {
    right: -5px;
    left: auto;
    text-align: left;

    span {
      transform: rotate(45deg);
      right: -21px;
      left: auto;
    }
  }
}



// icons

.icon-list-demo{
  i{
    margin-left: 12px;
    margin-right: 0;
  }
}



// Custom-radio

.checkbox {
  label {
    padding-right: 8px;
    padding-left: 0;

    &::before {
      left: auto;
      right: 0;
      margin-left: 0;
      margin-right: -18px;
    }

    &::after {
      left: auto;
      right: 0;
      margin-right: -18px;
      margin-left: 0;
      padding-left: 0;
      padding-right: 3px;
    }
  }

  input[type="checkbox"]:checked+label {
    &::after {
      left: auto;
      right: 7px;
      transform: rotate(45deg);
    }
  }
}

.checkbox.checkbox-single {
  label {
    &:before {
      margin-right: 0;
    }

    &:after {
      margin-right: 0;
    }
  }
}


// custom-radio

.radio {
  label {
    padding-left: 0;
    padding-right: 8px;

    &::before {
      left: auto;
      right: 0;
      margin-left: 0;
      margin-right: -18px;
    }

    &::after {
      left: 0;
      right: 6px;
      margin-left: 0;
      margin-right: -20px;
    }
  }
}

// Invoice

@media print {
  .content-page,
  .content,
  body {
      margin-right: 0;
  }
}

// Demos button 
.demos-show-btn {
  left: 0;
  right: auto;
  border-radius: 0 6px 6px 0;
}