// 
// pages-rtl.scss
//


// File Manager

.file-man-box {
    .file-close {
      left: 10px;
      right: auto;
    }
    .file-download {
      left: 10px;
      right: auto;
    }
    .file-man-title {
      padding-left: 25px;
      padding-right: 0px;
    }
  }


  // Email
.inbox-leftbar {
    float: right;
    padding: 0 0px 20px 20px;
  }
  
  .inbox-rightbar {
    margin-right: 250px;
    margin-left: 0px;
  }
  
  .message-list {
    padding-right: 0;
    .col-mail {
        float: right !important;
    }
    .col-mail-1 {
        .star-toggle,
        .checkbox-wrapper-mail,
        .dot {
            float: right !important;
        }
        .dot {
            margin: 22px 0px 0 26px;
        }
        .checkbox-wrapper-mail {
            margin: 15px 20px 0 10px !important;
        }
        .star-toggle {
            margin-right: 5px;
        }
        .title {
            right: 110px !important;
            left: 0 !important;
        }
    }
    .col-mail-2 {
        right: 320px !important;
        left: 0 !important;
        .subject {
            right: 0 !important;
            left: 200px !important;
        }
        .date {
            left: 0;
            padding-right: 80px;
            padding-left: 0px !important;
            right: auto !important;
        }
    }
  }
  
  @media (max-width: 648px) {
    .inbox-rightbar {
        margin-right: 0;
    }
  }
  
  @media (max-width: 520px) {
    .message-list li {
        .col-mail-1 {
            .title {
                right: 80px !important;
                left: 0px !important;
            }
        }
        .col-mail-2 {
            right: 160px !important;
            .date {
                text-align: left;
                padding-left: 10px !important;
                padding-right: 20px;
            }
        }
    }
  }
  

// Timelime

.timeline{
    .timeline-item{
      .text-right{
        text-align: right!important;
      }
    }
  }
  

// Task board

.taskList {  
    .checkbox {
      margin-right: 20px;
      margin-left: 0px;
    }
}
  

//  Members list


// 1.
.member-card {
    .member-star {
      left: 3px;
      right: auto;
    }
  }


//   2.
.member-card-alt {
    .member-card-alt-info {
      margin-right: 140px;
      margin-left: 0px;
    }
    .member-star {
      left: 10px;
    }
  }


// authentication

.home-btn {
    position: absolute;
    left: 25px;
    right: auto;
}
